body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

.container {
    display: grid;
    width: 598px;
    height: 596px;
    grid-template-columns: 56px 205px 183px 136px;
    grid-template-rows: 251px 132px 174px 21px;
    background-color: #2C2D33;
    gap: 6px;
}

.item {
    background-color: #E8E5EC;
}

.red {
    background-color: #F6631A;
    grid-column: span 2;
    border-bottom: 5px solid #2C2D33;
    border-right: 4px solid #2C2D33;
}

.white1{
    grid-column: span 2;
    border-bottom: 5px solid #2C2D33;
}

.white2 {
    grid-column: span 2;
    border-bottom: 5px solid #2C2D33;
    border-right: 4px solid #2C2D33;
}

.white3 {
    grid-column: span 2;
    border-bottom: 5px solid #2C2D33;
}

.yellow {
    background-color: #FEE797;
    grid-row: span 2;
}

.white4 {
    grid-row: span 2;
    border-right: 4px solid #2C2D33;
}

.blue {
    background-color: #0759A7;
    border-bottom: 4px solid #2C2D33;
}

.white5 {
    grid-row: span 2;
    border-left: 4px solid #2C2D33;
}

.text {
    font-family: "Zalando Sans Expanded", sans-serif;
    text-align: center;
}

.border {
    border: 5px solid black;
    padding: 20px;
}

.mondrian {
    color: #0759A7;
}